################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Playground/bin/Debug/netcoreapp3.1
/.vs
/Playground/obj
